#container {
	text-align: left;
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 0px;
	height: 604px;
}
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#header {
	background-color: #FFFFFF;
}
#linksbar {
	background-color: #000000;
	text-align: left;
	vertical-align: middle;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	padding-left: 23px;
	padding-top: 5px;
	padding-bottom: 3px;
}
#footer {
	margin-left: 35px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	bottom: auto;
	vertical-align: top;
}
#title {
	padding-left: 22px;
	margin: 0px;
	padding-top: 10px;
	height: 47px;
}
#links {
}
#content {
	background-image: url(../images/text_box.png);
	background-repeat: no-repeat;
	width: 545px;
	padding-left: 23px;
	margin-left: 23px;
	height: 430px;
	margin-bottom: 2px;
}
.style1 {font-family: Helvetica, Arial, sans-serif}
.style2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.style4 {color: #FFFFFF}
.style5 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 8.5px;
	color: #000000;
}
.style6 {color: #006600}
a:link {
	color: #006600;
}
a:visited {
	color: #006600;
}
a:hover {
	color: #006600;
}
a:active {
	color: #006600;
}
