{% extends "index.html" %}
{% block pagetitle %}
    <img src="images/about.png" />
{% endblock %}
  
{% block body %}
    <p class="style1">&nbsp;</p>
    <p><strong>Jim's Story</strong><br />
      On October 23, 2007, my brother, James Bellizzi, passed away after his second lung transplant.<br /> 
      His wife Georgene, spent thirteen weeks by his side, sometimes sleeping in a Philadelphia hotel<br /> 
      at $170.00 per night, other nights in a small family waiting room. Some people slept in their cars. There is a need for a place for families to sleep, eat, share their anxiety and hope with other<br /> 
      families. STRIDES FOR SHELTER is the first annual race in Jim's memory, all proceeds will go <br />
      to the transplant house at Penn in his honor.<br />
      </p>
    <p><strong>The Transplant House At Penn</strong> is the answer to help ease the economic and emotional burdens <br />
    that families endure during the transplant process. The Transplant House will provide comfortable accommodations and convenient services in a supportive, community setting at nominal cost.</p>
    <p>For more info: <a href="http://pennhealth.com/transplant/about/house/index.html">Click here</a></p>
    <p>&nbsp;</p>
{% endblock %} 
