<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" /> 
<title>{% block title %}Strides for Shelter{% endblock %}</title>
</head>
<body>
<div id="container">
    <div id="header"><img src="images/s4s_web.jpg" alt="head" width="804" height="67" /></div>
    <div id="linksbar"><img src="images/links.png" border="0" usemap="#Map" />
    <map name="Map" id="Map"><area shape="rect" coords="-1,-1,42,16" href="/" />
        <area shape="rect" coords="60,-1,118,18" href="/signup" />
        <area shape="rect" coords="135,-1,181,16" href="/about" />
        <area shape="rect" coords="198,0,269,17" href="/sponsors" />
        <area shape="rect" coords="288,-1,344,16" href="/contact" />
    </map>
</div>
  <div id="title">
    {% block pagetitle %}
    {% endblock %}
  </div>
  
  <div class="style2 style4" id="content">
    {% block body %}
    {% endblock %}
  </div>
  <div class="style5" id="footer">&copy STRIDES FOR SHELTER • WEBSITE BY <span class="style6"><a href="http://www.rorykingdesign.com" style="text-decoration:none">RORY KING</a></span></div>
</div>
</body>
</html>
