{% extends "index.html" %}
{% block pagetitle %}
<img src="images/home.png" />
{% endblock %}
  
{% block body %}
    <p class="style1">&nbsp;</p>
    WELCOME TO THE OFFICIAL STRIDES FOR SHELTER WEBSITE</p>
    <p class="style2">Strides for Shelter is an annual race held in memory of James Bellizzi, a two-time transplant <br />
    receiver. All proceeds go to the Transplant House at Penn in his honor.</p>
    <p class="style2">It will take place Saturday April 17th, 2010 at 9:00am at:<br />
      The Hanover Township Community Center<br />
      3660 Jacksonville Rd<br />
    Bethlehem, PA 18017</p>
    <p class="style2">For more information regarding the Transplant House at Penn, <a href="http://pennhealth.com/transplant/about/house/index.html">click here</a>.</p>
    <p class="style2">If you are interested in helping go to our Sign Up page for more info. If you or your company <br />
    would like to sponsor the race, please see our Sponsors page. Thank You!</p>
{% endblock %}
