{% extends "index.html" %}
    {% block index %}class="active"{% endblock %}
    {% block body %}
		Welcome to the Official Strides for Shelter Website!

		<div class="heading-text">What is it?</div>
		Strides for Shelter is the first annual race being held in memory of James Bellizzi, a 2 time transplant receiver. All proceeds will go to the Transplant House at Penn in his honor!

		<div class="heading-text">When/Where?</div>
		It will take place Saturday April 4th at 9:00am at the Hanover Township Community Center in Bethlehem, PA.
		
		3660 Jacksonville Rd Bethlehem, PA 18017

		<div class="heading-text">Who is this for?</div>

		The Transplant House at Penn. For more details, click <a href="http://pennhealth.com/transplant/about/house/index.html">here</a>

		<div class="heading-text">How Can I help?</div>

		Run! Go to our Signup page for more info!

		If you or your company would like to sponsor the Race, please see our Advertisement page.
		<div id="checks-address">
			<div style="font-weight: bold;">CHECKS PAYABLE TO:</div><br />
			"STRIDES FOR SHELTER"<br />
			MAY BE SENT TO:<br />
			4503 SMITH DRIVE<br />
			BETHLEHEM, PA 18017
		</div>

		More questions?
		Email: strides4shelter@gmail.com
    {% endblock %}
