{% extends "index.html" %}
    {% block signup %}class="active"{% endblock %}
    {% block body %}
		<div class="heading-text">"STRIDES FOR SHELTER"</div>
		<ul>
			<li>FIRST ANNUAL EVENT TO RAISE MUCH NEEDED FUNDING FOR THE TRANSPLANT HOUSE AT PENN.</li>
			<li>INCLUDES A 5K COMPETITIVE RUN AS WELL AS A 5K WALK.</li>
			<li>COMMITTEE MEMBERS AND SUPPORT TEAM ARE COMMUNITY VOLUNTEERS.</li>
			<li>AWARDS WILL BE GIVEN FOR RACE FINISHERS IN AGE CLASS, GENDER, AND OVERALL.</li>
			<li>FEATURES FREE MUSIC, FOOD AND INFORMATIONAL DISPLAYS RELATED TO THE TRANSPLANT HOUSE AND THE UNIVERSITY OF PENN HEALTHCARE SYSTEM.</li>
		</ul>
		All activities begin Saturday, April 4th at 9am at the Hanover Township Community Center, located at 3660 Jacksonville Rd Bethlehem, PA 18017.

		<div class="heading-text">Sign up!</div>
		Click <a href="pdf/Signup_Flyer.pdf">here</a> to download the registration form to run in the Strides for Shelter race. Please mail the form and registration fee to:
		<div id="checks-address">
			"STRIDES FOR SHELTER"<br />
			4503 SMITH DRIVE<br />
			BETHLEHEM, PA 18017
		</div>
    {% endblock %}
