{% extends "index.html" %}

{% block pagetitle %}
    <img src="images/signup.png" />
{% endblock %}
  
{% block body %}
    <p class="style1">&nbsp;</p>
    <ul>
      <li> Annual event to raise much needed funding for the Transplant House at Penn.<br />
</li>
      <li>        Includes a 5K competitive run as well as a 5K walk.<br />
      </li>
      <li>Committee members and support team are community volunteers.<br />
      </li>
      <li>Awards will be given for race finishers in age class, gender, and overall.<br />
      </li>
      <li>Features free music, food, and informational displays related to the Transplant House <br />
      and the University of Penn Healthcare System.</li>
    </ul>
    <p>All activities begin Saturday, April 4th at 9am at the Hanover Township Community Center, <br />
      located at 3660 Jacksonville Rd Bethlehem, PA 18017.<br />
    </p>
    <p>To sign up click <a href="/content/Signup_Flyer.pdf">here</a> to download the registration form to run in the Strides for Shelter race. <br />
      Please mail the form and registration fee to:<br />
STRIDES FOR SHELTER<br />
      4503 SMITH DRIVE<br />
      BETHLEHEM, PA 18017 </p>
    <p class="style1">&nbsp;</p>
{% endblock %}
