{% extends "index.html" %}
{% block pagetitle %}
<div style="padding-top: 7px;">
    <img src="images/sponsors.png" />
</div>
{% endblock %}
  
{% block body %}
    <p class="style1">&nbsp;</p>
    <p><strong>Thank you to our sponsors!</strong><br />
      <br />
    Strides for Shelter offers a great way for businesses and individuals looking to <br />
    associate their name in a community run charity while also reaching a large <br />
    audience this is a fantastic opportunity. </p>

    <!--
		<div style="font-weight: bold;">GOLD SPONSOR-$1000</div>
		<ul>
			<li>LOGO AND COMPANY NAME AS PRESENTING SPONSOR ON ALL REFERENCES TO THE EVENT INCLUDING RACE SHIRTS AND FLYERS.</li>
			<li>SPONSOR LINK ON STRIDES FOR SHELTER WEB PAGE.</li>
			<li>COMPANY BANNER DISPLAY DURING EVENT.</li>
			<li>OPPORTUNITY TO DISTRIBUTE GIFT BAGS OR SAMPLES DURING EVENT.</li>
		</ul>
		<div style="font-weight: bold;">SILVER SPONSOR-$500</div>
		<ul>
			<li>LOGO AND COMPANT NAME ON ALL REFERENCES TO THE EVENT INCLUDINGRACE SHIRTS AND FLYERS.</li>
			<li>ALSO 2, 3, AND 4 FROM ABOVE.</li>
		</ul>
		<div style="font-weight: bold;">BRONZE SPONSOR-$250</div>
		<ul>
			<li>LOGO AND COMPANY NAME ON ALL REFERENCES TO THE EVENT, INCLUDING RACE SHIRTS AND FLYERS.</li>
			<li>ALSO 4 FROM ABOVE.</li>
		</ul>
		<div style="font-weight: bold;">INDIVIDUAL SPONSOR-$100</div>
		<ul>
			<li>FAMILY NAME ON ALL REFERENCES TO THE EVENT INCLUDING FLYERS.</li>
			<li>ALSO 4 FROM ABOVE</li>
		</ul>
    -->
{% endblock %}
